.availableContainer{
    width: 100vw;
    height: 100vh;
}

.link{
    text-decoration: none;
}

.btnContainer{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.goToCreate{
    margin: 30px;
}

.head{
    margin-left: 25px;
    display: flex;
}

.current{
    width: 100%;
    min-height: 48%;
    height: auto;
    position: relative;
    margin-top: -50px;
}

.upcoming{
    width: 100%;
    min-height: 48%;
    height: auto;
}

.trackers{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.trackersTile{
    width: 80%;
    margin: 20px;
    height: 200px;
    padding: 20px;
}