.homeContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
}

.add-btn{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.topRow{
    height: 40%;
    width: 70vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
    
.bottomRow{
    height: 40%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}